<h1>Welcome to the Lobby!</h1>
<p>Complete Name: {{name}}</p>
<p>Total victories: {{totalVictories}}</p>
<p>Username: {{username}}</p>

 <button (click)="logout()" md-raised-button color="accent">Logout</button>

<h2>Games Pending  <button class="btn btn-primary" (click)="getGamesPending()">Get pending Games</button></h2>
<p *ngFor="let m of gamesPending">{{m}}</p>


<top10></top10>
 <div class="container">
    <hr>
    <chat-control></chat-control>
    <hr>
    <notification-panel></notification-panel>
</div>