<!--<div class="container">
    <h1>DAD - Websockets</h1>
    <hr>
    <game></game>
</div>
<div class="container">
    <ship-selector></ship-selector>
    <hr>
    <chat-control></chat-control>
    <hr>
    <notification-panel></notification-panel>
</div>
-->


<!-- Descomentar o código seguinte para voltar 

<div class="col-md-6 col-md-offset-3">
    <p>You're in BattleShips</p>
    <p><a [routerLink]="['/login']">Login</a></p>
    <p><a [routerLink]="['/register']">Register</a></p>
</div>

-->
<h2 style="color:red;" ><b>Welcome to the BattleShip Multiplayer Game</b></h2>
<br><br>

<img src="https://lh5.ggpht.com/O0ojRPo363kERr2JLLt_yFSgopUMBKTXzgI3H2fnWl85gFbf4PuEovscdHfwbq9ShBI=w300" align="middle"
/>