<!--<div class="container">
    <h1>DAD - Websockets</h1>
    <hr>
    <game></game>
</div>
<div class="container">
    <ship-selector></ship-selector>
    <hr>
    <chat-control></chat-control>
    <hr>
    <notification-panel></notification-panel>
</div>
-->


<!-- Descomentar o código seguinte para voltar --> 

<div class="col-md-6 col-md-offset-3">
    <h2>Top 10 Victories  <button class="btn btn-primary" (click)="getTop10()"> Refresh </button></h2>
    <p *ngFor="let m of Top10Victories"></p>
    <table>
    <tr>
        
        <th>Name</th>
        <th>Number of  Victories</th>
    </tr>
    <tr *ngFor="let m of Top10Victories">
       
        <td>{{m.name}}</td>
        <td>{{m.totalVictories}}</td>
    </tr>
</table>
</div>