<div class="login jumbotron center-block">
   <h1>Login</h1>
   <form role="form" (submit)="login($event, username.value, password.value)">
   <div class="form-group">
     <label for="username">Username</label>
     <input type="text" #username class="form-control" id="username" placeholder="Username">
   </div>
   <div class="form-group">
     <label for="password">Password</label>
     <input type="password" #password class="form-control" id="password" placeholder="Password">
   </div>
   <div class ="form-group">
   <button type="submit" class="btn btn-default">Submit</button>
     <a [routerLink]="['/register']" md-raised-button color="accent">Register</a>
    </div>

    <div class="col-xs-4 col-sm-3">
        <a class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span> Sign in with Facebook
  </a>
    </div>
    <div class="col-xs-4 col-sm-3">
        <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Sign in with Twitter
  </a>
    </div>
    <div class="col-xs-4 col-sm-3">
      <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span> Sign in with Google
  </a>
</div>





 </form>
 </div>